#activity-page body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#activity-page h1, h2 {
    color: #d2232a; /* FARGE OVERSKRIFTER h1 & h2 */
}

#activity-page h1, h2 { /* SENTERER H1 & H2*/
    text-align: center;
}

#activity-page header, footer { /*HEADER STYLING*/
    background: #090936;
    color: #fffdfd;
    padding: 0.5em 0;
    text-align: center;
}

/*NAVIGASJONS LISTEN*/
#activity-page nav ul {
    list-style-type: none;
    padding: 0;
}

#activity-page nav ul li {
    display: inline;
    margin-right: 1rem;
}

#activity-page nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* LAYOUT & STRUKTUR I MAIN BODY PÅ ACTIVITY*/
#activity-page main {
    padding: 1em;
    max-width:max-content;
    margin: auto;
}

#activity-page section {
    margin-bottom: 2em;
}

#activity-page ul {
    list-style-type: none;
    padding: 0;
}

#activity-page ul li {
    display: inline-block;
    width: 23.5%;
    margin: 0 0.5%;
    text-align: center;
}


/*BILDER AV SPILLERE OG INFO VED SIDEN AV PÅ ACTIVITY*/
#activity-page figure {
    display: inline-block;
    margin: 1em;
    text-align: center;
}

/* 4. fikse på lenker og navigasjon PÅ ACTIVITY*/
#activity-page a {
    color: #d2232a;
}


#activity-page a:hover {
    text-decoration: underline;
}

/* HERO PÅ TOPPEN PÅ ACTIVITY*/
#activity-page .hero { /* Dette er bilde på toppen av siden (hero bildet)*/
    background: url('https://cloudfront-eu-central-1.images.arcpublishing.com/mentormedier/JQPJY5L2HND6HNKA6W3YIGFDJQ.jpg') no-repeat center center;
    background-size: cover;
    height: 20rem;
    position: relative;
}

#activity-page .hero-title { /* Dette er teskten over bilde på toppen av siden (hero bildet)*/
    color: white;
    font-size: 3em;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 0.01em black;
}

/* index-id siden under her

/* accessibility siden under her